.body-top {
  padding-top: 240px;
  
}

.blog-header-masthead{
  background-image: url('http://2.bp.blogspot.com/-y51alCfFywE/UWAP8av_AXI/AAAAAAAAAZI/HfQxH3Jd9i4/s1600/Waterfalls_wallpapers_314.jpg'); 
  background-size: cover; 
  padding-top: 100px;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);

}

.blog-nav-item-header {
  position: relative;
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  color: white;
  
}

.body-bottom {
  padding-top: 60px;
  
}

.header {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;

}
.header-top {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;

}

.header-bottom{
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg'); 
  background-size: cover; 
  padding-top: 100px;
  margin-bottom: 30px;

}

.header-text {
  margin-bottom: 0px;
  color: white;

}